<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itensPedido">
            <h2><span jhiTranslate="estoquefacilApp.itensPedido.detail.title">Itens Pedido</span> {{itensPedido.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="estoquefacilApp.itensPedido.quantidadeProduto">Quantidade Produto</span></dt>
                <dd>
                    <span>{{itensPedido.quantidadeProduto}}</span>
                </dd>
                <dt><span jhiTranslate="estoquefacilApp.itensPedido.valorProduto">Valor Produto</span></dt>
                <dd>
                    <span>{{itensPedido.valorProduto}}</span>
                </dd>
                <dt><span jhiTranslate="estoquefacilApp.itensPedido.pedido">Pedido</span></dt>
                <dd>
                    <div *ngIf="itensPedido.pedido">
                        <a [routerLink]="['/pedido', itensPedido.pedido?.id, 'view']">{{itensPedido.pedido?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="estoquefacilApp.itensPedido.produto">Produto</span></dt>
                <dd>
                    <div *ngIf="itensPedido.produto">
                        <a [routerLink]="['/produto', itensPedido.produto?.id, 'view']">{{itensPedido.produto?.descricao}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/itens-pedido', itensPedido.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
